/* CSS for all pages will go here, such as fonts, header styles and footer styles */

body {
    margin: 0px;
    padding: 0px;
}

header {
    width: 100%;
}

footer {
    padding-top: 50px;
}

:root {
    --heading-font: Trajan;
    --paragraph-font: Roboto;

    --primary-color: #FEF1D7;
    --secondary-color: #582119 ;
    --accent1-color: #1A1813;
    --accent2-color: #906C54;
    --accent3-color: #D0A772;
}