/* CSS for all pages will go here, such as fonts, header styles and footer styles */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0px;
    padding: 0px;
}

header {
    width: 100%;
}

footer {
    padding-top: 50px;
}

:root {
    --heading-font: "Cinzel";
    --paragraph-font: "Roboto";

    --primary-color: #FEF1D7;
    --secondary-color: #582119 ;
    --accent1-color: #1A1813;
    --accent2-color: #906C54;
    --accent3-color: #D0A772;
}