/* This is for CSS exclusive to the child pages */

:root {
    --primary-color: #FEF1D7;
    --secondary-color: #582119;
    --acc1: #1A1813;
    --acc2: #906C54;
    --acc3: #D0A772;
}

main {
    width: 80%;
    margin: auto;
}

body {
    background-color: var(--primary-color);
}

.explore section {
    border: 5px solid #906C54;
    background-color: #D0A772;
    position: relative;
    padding-bottom: 30px;
}

.explore section p,h3 {
    padding: 5px;
}

.explore section button {
    position: absolute;
    bottom: 5px;
    left: 5px;
}

button {
    color: #D0A772;
    background-color: #582119;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    padding:10px;
}

button:hover {
    color: #582119;
    background-color: var(--primary-color);
    transition: transform .5s;
    box-shadow: 5px 5px 10px #582119;
}

.hero {
    width: 100%;
    text-align: center;
}

.heroIMG {
    width: 100%;
    margin: auto;
}

.explore {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.explore section {
    align-items: center;
    width: 95%;
}

.cropbox {
  width: 100%;
  height: 250px;
}

.cropbox img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Crops the image to cover the container while preserving aspect ratio */
  object-position: center; /* Centers the image within the container (default) */
}

#totk {
    height: 300px;
    margin: 0px;
    margin-top: 75px;
    text-align: center;
    border: 5px solid #906C54;
    background-color: #D0A772;
    display: flex;
    box-sizing: border-box;
    width: calc(100% - 10px);
}

#totk img {
    height: 100%;
    width: auto;
    flex-shrink: 0;
    display: block;
}

#totk .wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


footer {
    margin-top: 75px;
}